@font-face {
    font-family: 'csgo';
    src: url(cs_regular.ttf);
}

/* .jimage{
    background-image: url(https://infostart.hu/images/site/articles/lead/2019/12/1575555355-kHqkFHexC_md.jpg);
} */

.body {
    margin-top: 75px;
    margin-left: 5%;
    margin-right: 5%;
}

.logo{
    height: 40px;
    width: 30px;
}

.navbar-brand{
    font-family: 'csgo';
}

h2{
    font-family: 'csgo';
}

h1{
    font-family: 'csgo';
}

.cases {
    justify-content: space-between;
}

.cases2 {
    justify-content: left;
}

.modal{
    --bs-modal-width: 1000px;
}

#opening-canvas {
    height: 263.2px !important;
}

.fancy-coloring{
    background: rgb(2,0,36);
    background: linear-gradient(300deg, rgba(2,0,36,1) 0%, rgba(196,38,38,0.7343312324929971) 35%, rgba(0,121,255,0.9416141456582633) 100%);
}

.fancy-coloring-item{
    background: rgb(58,97,180);
background: radial-gradient(circle, rgba(58,97,180,1) 0%, rgba(253,29,29,1) 50%, rgba(69,100,252,1) 100%);
}

.show-item{
    margin: auto;
    width: 900px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

/* .item-img{
    width: 300px;
    height: 300px;
} */

#user-money{
    color: aliceblue;
    text-decoration: none;
}

#item-img{
    width: 600px;
    height: 600px;
    animation: wiggle 2.5s infinite;
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
   45% { transform: rotate(0deg); }
   65% { transform: rotate(5deg); }
   85% { transform: rotate(-5deg); }
   100% { transform: rotate(0deg); }
}

.modal-content{
    background-color: rgba(44, 43, 43, 0.979);
}
.modal-title{
    color: azure;
    font-size: large;
}
.container:hover .hover-image{
    opacity: 0.7;
}
.container:hover .middle {
    opacity: 1;
  }
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.Gyakori{
    background: rgb(152,152,154);
    background: radial-gradient(linear, rgba(152,152,154,1) 0%, rgba(242,242,242,1) 35%, rgba(96,100,103,0.9416141456582633) 100%);
}
.Ritka{
    background: rgb(22,170,7);
    background: radial-gradient(linear, rgba(22,170,7,1) 0%, rgba(43,166,17,1) 35%, rgba(96,100,103,0.9416141456582633) 100%);
}
.Kivételes{
    background: rgb(7,99,170);
    background: radial-gradient(linear, rgba(7,99,170,1) 0%, rgba(17,92,166,1) 35%, rgba(96,100,103,0.9416141456582633) 100%);
}
.Epikus{
    background: rgb(120,7,170);
    background: radial-gradient(linear, rgba(120,7,170,1) 0%, rgba(114,17,166,1) 35%, rgba(96,100,103,0.9416141456582633) 100%);
}
.Legendás{
    background: rgb(255,241,0);
    background: radial-gradient(linear, rgba(255,241,0,1) 0%, rgba(255,121,0,1) 35%, rgba(254,255,1,1) 100%);
}

:root {
    --Gyakori: rgb(152,152,154);
    --Ritka: rgb(22,170,7);
    --Kivételes: rgb(7,99,170);
    --Epikus: rgb(120,7,170);
    --Legendás: rgb(255,241,0);
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: 3em;
    left: 50%;
    padding: 4px 4px 4px 8px;
    color: var(--rarity);
    white-space: nowrap; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    -moz-box-shadow: 0px 0px 4px #222;  
    -webkit-box-shadow: 0px 0px 4px #222;  
    box-shadow: 0px 0px 4px #222;  
    background-color: #212529;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
