@font-face {
    font-family: 'csgo';
    src: url(cs_regular.ttf);
}

.body {
    margin-top: 75px;
    margin-left: 5%;
    margin-right: 5%;
}

.logo{
    height: 40px;
    width: 30px;
}

.navbar-brand{
    font-family: 'csgo';
}

.cases {
    justify-content: space-between;
}

.modal{
    --bs-modal-width: 1000px;
}

#opening-canvas {
    height: 263.2px !important;
}